In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,4,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -0.724981 -0.190204 -0.486316  0.591767
2013-01-02 -0.954019 -1.403959 -0.284705  1.112011
2013-01-03  0.496916 -0.504507 -0.881196  0.089475
2013-01-04  0.742493  1.065522 -0.032917 -0.355097
2013-01-05 -0.558945  0.359142  0.726914 -1.996674
2013-01-06  1.080904  0.974897 -0.589584  0.592230

In [10]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....:

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df2.all

<bound method DataFrame.all of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [14]:
df.head()

                   A         B         C         D
2013-01-01 -0.724981 -0.190204 -0.486316  0.591767
2013-01-02 -0.954019 -1.403959 -0.284705  1.112011
2013-01-03  0.496916 -0.504507 -0.881196  0.089475
2013-01-04  0.742493  1.065522 -0.032917 -0.355097
2013-01-05 -0.558945  0.359142  0.726914 -1.996674

In [15]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.742493  1.065522 -0.032917 -0.355097
2013-01-05 -0.558945  0.359142  0.726914 -1.996674
2013-01-06  1.080904  0.974897 -0.589584  0.592230

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.values

array([[-0.72498119, -0.19020407, -0.48631642,  0.5917668 ],
       [-0.95401942, -1.40395887, -0.28470536,  1.11201144],
       [ 0.49691611, -0.50450691, -0.88119592,  0.08947534],
       [ 0.74249344,  1.06552202, -0.03291709, -0.35509663],
       [-0.5589453 ,  0.35914232,  0.72691368, -1.99667395],
       [ 1.08090371,  0.97489682, -0.58958416,  0.59222968]])

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.013728  0.050149 -0.257968  0.005619
std    0.861814  0.944612  0.560692  1.100737
min   -0.954019 -1.403959 -0.881196 -1.996674
25%   -0.683472 -0.425931 -0.563767 -0.243954
50%   -0.031015  0.084469 -0.385511  0.340621
75%    0.681099  0.820958 -0.095864  0.592114
max    1.080904  1.065522  0.726914  1.112011

In [21]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.724981   -0.954019    0.496916    0.742493   -0.558945    1.080904
B   -0.190204   -1.403959   -0.504507    1.065522    0.359142    0.974897
C   -0.486316   -0.284705   -0.881196   -0.032917    0.726914   -0.589584
D    0.591767    1.112011    0.089475   -0.355097   -1.996674    0.592230

In [22]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.591767 -0.486316 -0.190204 -0.724981
2013-01-02  1.112011 -0.284705 -1.403959 -0.954019
2013-01-03  0.089475 -0.881196 -0.504507  0.496916
2013-01-04 -0.355097 -0.032917  1.065522  0.742493
2013-01-05 -1.996674  0.726914  0.359142 -0.558945
2013-01-06  0.592230 -0.589584  0.974897  1.080904

In [23]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02 -0.954019 -1.403959 -0.284705  1.112011
2013-01-03  0.496916 -0.504507 -0.881196  0.089475
2013-01-01 -0.724981 -0.190204 -0.486316  0.591767
2013-01-05 -0.558945  0.359142  0.726914 -1.996674
2013-01-06  1.080904  0.974897 -0.589584  0.592230
2013-01-04  0.742493  1.065522 -0.032917 -0.355097

In [24]:
df['A']

2013-01-01   -0.724981
2013-01-02   -0.954019
2013-01-03    0.496916
2013-01-04    0.742493
2013-01-05   -0.558945
2013-01-06    1.080904
Freq: D, Name: A, dtype: float64

In [25]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.724981 -0.190204 -0.486316  0.591767
2013-01-02 -0.954019 -1.403959 -0.284705  1.112011
2013-01-03  0.496916 -0.504507 -0.881196  0.089475

In [26]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.954019 -1.403959 -0.284705  1.112011
2013-01-03  0.496916 -0.504507 -0.881196  0.089475
2013-01-04  0.742493  1.065522 -0.032917 -0.355097

In [27]:
df.loc[dates[0]]

A   -0.724981
B   -0.190204
C   -0.486316
D    0.591767
Name: 2013-01-01 00:00:00, dtype: float64

In [29]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.724981 -0.190204
2013-01-02 -0.954019 -1.403959
2013-01-03  0.496916 -0.504507
2013-01-04  0.742493  1.065522
2013-01-05 -0.558945  0.359142
2013-01-06  1.080904  0.974897